name = "exepad-runtime-v1"
compatibility_date = "2024-12-05"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

[env.production]
compatibility_flags = ["nodejs_compat"]

[env.production.vars]
NEXT_PUBLIC_BACKEND_URL=https://backend.exepad.com
NEXT_PUBLIC_API_URL=https://backend.exepad.com